
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
      <h2>Welcome Back <%= current_user.first_name %> !</h2>
        <%= render partial: 'users/bio_box' %>
        <%= render partial: 'users/profile_description_box' %>

    </div>  
  </div>
</div>      
        