<div class="controls">
  <button id="button1id" name="button1id" class="btn btn-success">Book A Seat!</button>
  <button id="button2id" name="button2id" class="btn btn-info">Ask Driver A Question</button>
</div>