 <!-- User rides listing -->
      <div class="rides-box">
        <div class="text-content">
          <div class="rides-box">
            <h4></i>All Rides You're Catching:</h4>
            <hr style="margin:8px auto">
            <ul class="cars">
              <ul>
              <% current_user.seats.each do |seat| %>
                <li>
                  <h3><a href="/rides/show/<%=seat.ride.id%>"><%= seat.ride.title %></a></h3>
                </li>
              <% end %>
             </ul>
          </div>
        </div>
      </div> <!-- End rides listing -->
