 <!-- User seats listing -->
      <div class="rides-box ">
        <div class="text-content">
          <div class="rides-box">
            <h3><i class="fa fa-road"></i>Rides Your Catching:</h3>
            <hr style="margin:8px auto">
            <ul class="cars">
              <% current_user.seats.each do |seat| %>
                <h3><a href="/rides/show/<%=seat.ride.id%>"><%= seat.ride.title %></a></h3>
              <% end %>
            </ul>
          </div>
        </div>
      </div> <!-- End seats listing -->