 <!-- User rides listing -->
      <div class="rides-box">
        <div class="text-content">
          <div class="rides-box">
            <h4></i>Upcoming Events Your Driving To:</h4>
            <hr style="margin:8px auto">
            <ul class="cars">
              <ul>
              <% @driving.each do |driving| %>
                <li>
                  <h3><%= link_to driving.title, show_ride_path(ride_id: driving.id) %></h3>
                </li>
              <% end %>
             </ul>
          </div>
        </div>
      </div> <!-- End rides listing -->