<%= stylesheet_link_tag 'profile-page' %>
    <div class="col-md-7 ">
      <!-- User description box -->
      <div class="description-box shadow">
        <div class="name-box">
          <h4>Hey, I'm <%= @user.first_name %>!</h4>
        </div>
        <div class="text-content">
          <p>Hi! I'm <%=@user.first_name%> and I live in <%= @user.city %>.</p>
          <p>Bacon ipsum dolor sit amet ex pariatur porchetta, tri-tip velit fatback dolore strip steak. Ham hock sirloin consequat chicken irure anim dolor porchetta. Consequat shank ham t-bone capicola sed dolore drumstick filet mignon id et bresaola frankfurter. Andouille incididunt enim, ex cow shoulder venison tail doner porchetta jerky dolore minim anim chicken. Cupidatat ham dolor chuck, kielbasa sed sausage esse bacon. Rump culpa velit in ad jerky minim ut ut sirloin pork loin ham hock venison tenderloin.</p>

        </div>
    </div>