<%= stylesheet_link_tag 'profile-page' %>
    <div class="col-md-7 ">
      <!-- User description box -->
      <div class="description-box shadow">
        <div class="name-box">
          <h4>Hey, I'm <%= @user.first_name %>!</h4>
        </div>
        <div class="text-content">
          <p>Hi! I'm <%=@user.first_name%> and I live in <%= @user.city %>.</p>
        </div>
      