 <!-- <h1>Params are: <%= @params[:user_id] %></h1> --> 
 <%= render partial: 'users/profile_box2' %>

  
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Dank Ass Van Headed To Coachella</h2>
            <p class="lead">I'm headed to Coachella, leaving April 8th and coming back April 6th. I like to listen to podcasts when I drive, please no smokers. Small dogs and hula-hoops welcome.</p>
            <br>
            <h2>Other Passengers:</h2>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/vw-bus.jpg" alt="">
          
          <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend></legend>

      <!-- Multiple Radios -->
      <div class="control-group">
        <label class="control-label" for="Trip-Length">Trip Length</label>
        <div class="controls">
          <label class="radio" for="Trip-Length-0">
            <input type="radio" name="Trip-Length" id="Trip-Length-0" value="One Way" checked="checked" required="required">
            One Way
          </label>
          <label class="radio" for="Trip-Length-1">
            <input type="radio" name="Trip-Length" id="Trip-Length-1" value="Round Trip" required="required">
            Round Trip
          </label>
        </div>
      </div>

      <!-- Button (Double) -->
      <div class="control-group">
        <label class="control-label" for="button1id"></label>
        <div class="controls">
          <button id="button1id" name="button1id" class="btn btn-success">Book A Seat!</button>
          <button id="button2id" name="button2id" class="btn btn-info">Ask Driver A Question</button>
        </div>
      </div>



          </div>
        </div>
  
      </div><!-- /.container -->

    </div><!-- /.content-section-a -->

    
    </div><!-- /.content-section-b -->

    
    </div><!-- /.content-section-a