<%= stylesheet_link_tag 'profile-page' %>
<%= stylesheet_link_tag 'user' %>

	<br/>
<div class="container"> 
  <div class="row">
    <div class="col-md-1 pull-left">
      <!-- Spacing div - there must be a better way! -->
    </div>
     <%= render partial: 'partials/user_bio_box' %>
     <%= render partial: 'partials/profile_description_box' %>

  </div> <!-- end row -->
</div> <!-- end container -->
