 <form class="form-search">
	  <div class="input-group">
	    <input type="text" class="form-control" id="event-search-box" placeholder="Where do you want to go?" autocomplete="off" />
	    <span class="input-group-btn">
	    	<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
	  	</span>
	  </div>
  </form>

	<script type="text/javascript">
		// Search-box JS script by Andy. andy@andy.mu
		var searchBox = $('#event-search-box');
		var eventsJSON = 'nil';
		var eventsArray = [];
		var firstFocus = 0;

		//Grab the even titles on first focus
		$(searchBox).on('focus', function() {
			if(firstFocus == 0) {
				firstFocus = 1; //Ensure we only do this once.
				// eventsJSON = <%= raw @events.to_json %>;
				eventsJSON = <%= raw @events_search.to_json %>;
				// for(var i=0; i<eventsJSON.length;i++) {
				// 	eventsArray.push(eventsJSON[i].title);
				// };
				console.log(eventsJSON); //Index-notation, remember to +1 when url'ing.
			};
		});


		$(searchBox).on('keyup', function() {
			var searchQuery = $(this).val();
			for(var i=0;i<eventsJSON.length;i++) {
				console.log(eventsJSON[i].title);
				console.log(searchQuery);
				if(searchQuery.toUpperCase() == eventsJSON[i].title.toUpperCase()) {
					console.log('YES!');
					$('#searchBox-suggestions').slideDown('slow', function() {
						console.log('no slide');
					});
				}
				console.log(i);
			}

		});

	</script>