 <form class="form-search">
	  <div class="input-group">
	    <input type="text" class="form-control" id="event-search-box" placeholder="Where do you want to go?" autocomplete="off" />
	    <span class="input-group-btn">
	    	<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
	  	</span>
	  </div>
		<div id="search-suggestions" style="font-size:2em"></div>
  </form>

	<script type="text/javascript">
		// Search-box JS script by Andy. andy@andy.mu
		var searchBox = $('#event-search-box');
		var eventsJSON = 'nil';
		var eventsJSONLength = 0;
		var firstFocus = 0;


		//Grab the even titles on first focus
		$(searchBox).on('focus', function() {
			if(firstFocus == 0) {
				firstFocus = 1; //Ensure we only do this once.
				eventsJSON = <%= raw @events_search.to_json %>;
				console.log(eventsJSON); //Index-notation, remember to +1 when url'ing.
			};
			eventsJSONLength = Object.keys(eventsJSON).length;
		});

		$(searchBox).on('keyup', function() {
			var searchQuery = $(this).val();
			// var searchQueryArray = searchQuery.split
			console.log(searchQuery);
			for(var i=0;i<eventsJSONLength;i++) {
				if(eventsJSON[i]==searchQuery) {
					console.log('yes!', searchQuery);
					$('#search-suggestions').text(searchQuery);

			};
		};

		});

	</script>