
<%= stylesheet_link_tag 'landing-page' %>


<%= render partial: 'partials/background_video' %>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Have A Crazy Trip</h1>
          <h3>Get a ride, split the costs, make new friends</h3>
          <hr class="intro-divider">
            <p>Search By Event:</p>
            <div class = "col-md-8">
            <%= render partial: 'home/search_box_pause' %>
          </div>
        </div>  
      </div>
    </div>

  </div><!-- /.container -->

</div><!-- /.intro-header -->
          <br/><br/><br/><br/>
<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Share Costs,<br>Lower Enviormental Impact,<br>Meet Fellow Fans</h2>
        <p class="lead">FanFollow makes it easy to carpool to music festivals,fan conventions and other larger social gatherings.Discover events, join a ride with fellow fanatics, or offer up your own ride and fill it with newfound buddies</p></a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="assets/carpool.jpg" alt="">
      </div>
    </div>

  </div><!-- /.container -->

</div><!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Easily Cordinate Payment,<br> and Logistics Between Passengers and Drivers</h2>
        <p class="lead">FanFollow integrates with the Stripe API can passengers can send money directly to drivers to reserve a seat in their car, & help pay for gas and other supplies for the trip.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="assets/payment.jpg" alt="">
      </div>
    </div>

  </div><!-- /.container -->

</div><!-- /.content-section-b -->



</div><!-- /.banner -->
