 
<!-- Polaroid gallery -->
<div class="row">
	<div class="large-12 columns" style="overflow: visible">
		<ul class="polaroids large-block-grid-4 small-block-grid-2">
			Change the erb for rides when the model is ready: 
	  <% @events.each do |ride| %>
	  <li>
	   <a href="<%=ride.title%>"
	  </li>
	 	<% end %>

 <!-- Multiple Radios -->
  <div class="control-group">
    <label class="control-label" for="Trip-Length">Trip Length</label>
    <div class="controls">
      <label class="radio" for="Trip-Length-0">
        <input type="radio" name="Trip-Length" id="Trip-Length-0" value="One Way" checked="checked" required="required">
        One Way
      </label>
      <label class="radio" for="Trip-Length-1">
        <input type="radio" name="Trip-Length" id="Trip-Length-1" value="Round Trip" required="required">
        Round Trip
      </label>
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="control-group">
    <label class="control-label" for="button1id"></label>
    <div class="controls">
      <button id="button1id" name="button1id" class="btn btn-success">Book A Seat!</button>
      <button id="button2id" name="button2id" class="btn btn-info">Ask Driver A Question</button>
    </div>
  </div>
