body, h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", "serif", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.row {
  padding-top:5%;
}

body { 
  background: url('/assets/background.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

body::after {
  content: "";
  background-color: white;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  top: 72px;
  left: 10%;
  bottom: -25%;
  right: 10%;
  position: absolute;
  z-index: -1;   
}

/*Uncomment the next two if you want background with opacity*/
/*
body {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

body::after {
  content: "";
  background: url('/assets/background.jpg') no-repeat center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;   
}*/

