.col-md-5{
  padding-top:7%;
}

.col-md-3{
  padding-top:7%;
  text-align: center;
  background-color: transparent;
}

.name-box {
  background-color:#42ade3;
/*  color:#2f2f2f;
*/}

h2{
  font-size:30px;
  color:2f2f2f;
  padding-left: 4%;
}

/*.bio-box {
  background-color:#f99525;
}*/

.bio-box img {
  border-radius:80px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", "serif", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color:#FFFFFF;
}

ul a {
  color:#2f2f2f;
}

footer ul a {
  color:#FFFFFF;
}


.content-box{
  -moz-box-shadow:    0px 1px 12px 2px #ccc;
    -webkit-box-shadow: 0px 1px 12px 2px #ccc;
    box-shadow:         0px 1px 12px 2px #ccc;
  -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-color:#42ade3

}

.row{
  padding-top:5%;
}


h3 a {
  color:#FFFFFF;

}

#footer {
  position:fixed;
}
