.nice-boxes {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 2px;
}

.nice-boxes::after {
	border-radius: 4px;
  content: "";
  background-color: white;
  opacity: 0.95;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}