.logo-bold {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 800;
}

.navbar-default{
  background-color: rgba(90, 172, 227, 0.9000);
  border-color: rgba(90, 172, 227, 1.0000);
}


.navbar-default .navbar-brand {
  color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a{
  color:#FFFFFF;
  padding-bottom: 20px;

}

.navbar {
  min-height:62px;
}

.navbar-brand{
  font-size: 26px;
}

.logo-bold{
  font-size: 22px;
}


