
	.shadow {
	 -moz-box-shadow:    0px 1px 12px 2px #ccc;
	  -webkit-box-shadow: 0px 1px 12px 2px #ccc;
	  box-shadow:         0px 1px 12px 2px #ccc;
	}

	.bio-box {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-weight: 500;
	  line-height: 1.1;
	  color: inherit;
		border: 1px #7d7d7d solid;
		padding: 0.2em;
		border-radius: 8px;
		color: #363637;
    .center {
      text-align: center;
    }
	}

	.bio-box img {
		width: 98%;
		max-width: 250px;
		max-height: 330px;
		padding-bottom: 0px;
		clip:rect(10px,10px,10px,10px);
		border-radius: 15px;
	}

	.bio-box .name {
		margin-top: 5px;
  	margin-bottom: 0px;
  	margin-left: 0.5em;
	}

	.bio-box .location {
		margin-top: 8px;
  	margin-bottom: 0px;
  	margin-left: 0.8em;
	}

	img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;

	}

  .dp {
        border:1px solid #7d7d7d ;
        transition: all 0.2s ease-in-out;
  }
    
  .dp:hover {
        border:2px solid #eee;
       /* transform:rotate(360deg);
        -ms-transform:rotate(360deg);  
        -webkit-transform:rotate(360deg); */ 
        /*-webkit-font-smoothing:antialiased;*/
  }


	.description-box {
		border: 1px solid #c8c8c8;
		border-color: rgba(0,0,0,0.2);
		border-top: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

  .name-box {
  	color: white;
		background-color: #42ade3;
   	padding-top: 0.1em;
   	padding-bottom: 0.1em;
   	padding-left: 1em;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}

	.rides-box {
		/*border: 1px solid #c8c8c8;*/
		/*border-color: rgba(0,0,0,0.2);*/
		border-top: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}


  .text-content{
  	display: block;
	/*	border-left: #7d7d7d solid 2px;
		border-right: #7d7d7d solid 2px;
		border-bottom: #7d7d7d solid 2px;*/
		padding: 1em;
		border-radius: 2px;
	}

	.cars {
		list-style-type: none;
	}
