.drop-down:empty {
	border: 0px;
	/*Keep it hidden!*/
}

.drop-down {
	margin-top: -2px;
  margin-left: 1px;
  margin-right: 39px;
	border: solid 1px black;
  font-size: 1.2em;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  margin-bottom: 0;
  text-align: left;
}

.drop-down .suggestion{
  padding-left: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: none;
	color: #6b6c6d;
	background: #fafafa;

}

.drop-down .suggestion:nth-child(even){
	color: #747576;
	background: white;
}

.drop-down .suggestion:last-child{
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.drop-down .suggestion:hover {
  border: #ffffff;
  cursor: pointer;
	color: #ffffff;
  background: rgba(125, 182, 255, 0.85);

/*   -moz-box-shadow:    1px 1px 12px 2px #d2f93a;
  -webkit-box-shadow: 1px 1px 12px 2px #d2f93a;
  box-shadow:         1px 1px 12px 2px #d2f93a;*/
}



.shadow {
   -moz-box-shadow:    0px 1px 12px 2px #ccc;
    -webkit-box-shadow: 0px 1px 12px 2px #ccc;
    box-shadow:         0px 1px 12px 2px #ccc;
  }
