.form{ 
  margin-top: 7%;
}



h2{
  color:#414141;
}


body { 
  background: url('/assets/signin.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  } 

label{
  color:#414141;
}

h5.location{
  color:#414141;
}