.form{
  margin-top: 7%;
}

h2{
  color:#FFFFFF;
}


body { 
  background: url('/assets/signin.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  } 

label{
  color:#FFFFFF;
}

h5.location{
  color:#FFFFFF;
}

#footer {
  position:absolute;
}