 #ride-box a{
  color:#FFFFFF;
}

.text-content {
  background-color:#FFFFFF;
}

.ride-box a {
  color:#FFFFFF;
}

#cars {
  color:;
}

/*h3.name {
  color:#FFFFFF;
}

h5.location{
  color:#FFFFFF;
}*/

small{
  color:#FFFFFF;
}

.name-box{
  background-color: #42ade3;
}