 #ride-box a{
  color:#FFFFFF;
}

.text-content {
  background-color:#FFFFFF;
  #42ade3
}

.ride-box a {
  color:#FFFFFF;
}

#cars {
  color:;
}

h3.name {
  color:#FFFFFF;
}

h5.location{
  color:#FFFFFF;
}

small{
  color:#FFFFFF;
}

.name-box{
  background-color: #42ade3;
}




.text-content{
    display: block;
  /*  border-left: #7d7d7d solid 2px;
    border-right: #7d7d7d solid 2px;
    border-bottom: #7d7d7d solid 2px;*/
    padding: 1em;
    border-radius: 2px;
  }